table {
font-size: 16px;
border-collapse: collapse;
text-align: center;
width: 1297px;
border-color: rgba(111, 78, 55);
background: rgba(255, 255, 255, 0.8);
}
td {
color: #6f4e37;
padding: 20px;
border-width: 1px;
padding: 10px 20px;
height: 50px;
}
.container2 {
  width: 100%;
  max-width: 20000px;
  height:150px;
  background-color:#ffffff;
}
.container1 {
  width: 100%;
  max-width: 20000px;
  margin: 0 auto;
  background-color:#ffffff;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
body {  background: linear-gradient(45deg, #EECFBA, #C5DDE8) no-repeat center center fixed;
        background-size: cover;
}
/* Created with https://www.css-gradient.com */